button.btn.language-switcher__button {
  border-color: var(--pst-color-border);
  color: var(--pst-color-text-base);
  // Add a margin on narrow screens to avoid feeling cramped
  margin-bottom: 1em;
  @include media-breakpoint-up($breakpoint-sidebar-primary) {
    margin-bottom: unset;
  }

  &:active {
    color: var(--pst-color-text-base);
    border-color: var(--pst-color-border);
  }
}

.language-switcher__menu {
  border-color: var(--pst-color-border);
  border-radius: var(--bs-dropdown-border-radius);

  a.list-group-item {
    background-color: var(--pst-color-on-background);
    color: var(--pst-color-text-base);
    padding: 0.75rem 1.25rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--pst-color-border);
    }

    &:hover {
      background-color: var(--pst-color-surface);
    }
  }

  // Over-rides Bootstrap default blue for the current one
  a.list-group-item.active {
    color: var(--pst-color-primary);

    span:before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: var(--pst-color-primary);
      opacity: 0.1;
    }
  }
}

// Font behavior on mobile
button.language-switcher__button,
.version-switcher__menu {
  font-size: 1.1em; // A bit smaller than other menu font
  @include media-breakpoint-up($breakpoint-sidebar-primary) {
    font-size: unset;
  }
}
