button.btn.language-switcher__button {
    border-color: var(--pst-color-border);
    color: var(--pst-color-text-base);
    margin-bottom: 1em;
}
@media (min-width: 960px) {
    button.btn.language-switcher__button {
        margin-bottom: unset;
    }
}
button.btn.language-switcher__button:active {
    border-color: var(--pst-color-border);
    color: var(--pst-color-text-base);
}
.language-switcher__menu {
    border-color: var(--pst-color-border);
    border-radius: var(--bs-dropdown-border-radius);
}
.language-switcher__menu a.list-group-item {
    background-color: var(--pst-color-on-background);
    color: var(--pst-color-text-base);
    padding: 0.75rem 1.25rem;
}
.language-switcher__menu a.list-group-item:not(:last-child) {
    border-bottom: 1px solid var(--pst-color-border);
}
.language-switcher__menu a.list-group-item:hover {
    background-color: var(--pst-color-surface);
}
.language-switcher__menu a.list-group-item.active {
    color: var(--pst-color-primary);
}
.language-switcher__menu a.list-group-item.active span:before {
    background-color: var(--pst-color-primary);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 100%;
}
.language-switcher__menu,
button.language-switcher__button {
    font-size: 1.1em;
}
@media (min-width: 960px) {
    .language-switcher__menu,
    button.language-switcher__button {
        font-size: unset;
    }
}
