<div class="language-switcher__container dropdown">
    <button type="button" class="language-switcher__button btn btn-sm navbar-btn dropdown-toggle" data-toggle="dropdown">
      {{ languages[language] }}
      <!-- this text may get changed later by javascript -->
      <span class="caret"></span>
    </button>
    <div class="language-switcher__menu dropdown-menu list-group-flush py-0">
      {% for short, full in languages.items() %}
      <a class="list-group-item list-group-item-action py-1 {{ 'active' if short == language }}" href="https://seryoga_leshii.codeberg.page/subspace-altdocs/{{ short }}/{{ pagename }}.html"><span>{{ full }}</span></a>{% endfor %}
    </div>
</div>
